html,
body {
  position: relative;
  height: 100%;
}
body {
  box-sizing: border-box;
  /* position: absolute; */
  width: 527px;
  height: 739px;
  margin: 0 auto;
  /* left: 457px;
  top: 143px; */
  background: #fcfcfc;
  border: 1px solid #dedede;
  box-shadow: -1px 7px 8px -5px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: "Inter", sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: start;
  /* position: absolute; */
  /* width: 117px;
  height: 38px; */
  /* left: 557px;
  top: 164px; */
}

main {
  display: flex;
  flex-direction: column;
}

/* SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed__actions__like-btn {
  border: none;
  background: none;
}
